*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  text-size-adjust: 100%;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-width: var(--size-container-min);
  width: 100%;
  margin: 0;
  line-height: 1.5;
  background: var(--color-bg-base);
  color: var(--color-text-base);
  font-size: var(--size-fluid-unit);
  font-family: var(--font-neue-montreal), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .app {
  background-color: var(--color-bg-app);
}

/* Scrollbar - global styles for WebKit browsers */
::-webkit-scrollbar {
  width:  4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* keep the track invisible */
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: var(--color-scrollbar-thumb);
  border-radius: 6px;
  cursor: grab;
  transition: background-color var(--duration-short) var(--motion-steady);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

::-webkit-scrollbar-corner {
  background: red;
  display: none;
}
